{% extends 'baseenseignant.html.twig' %}

{% block title %}Espace Enseignant{% endblock %}
 
{% block body %}
   
        
        
        <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider4">
            <li>
                <div class="slider-img one-img">
                <div class="container">
                    <div class="slider-info text-left">
                    <h4 >Mens</h4>
                    <h5>Bienvenue à vous, Enseignant(e) à l'IFRI-UAC</h5>
                    <p>A l'IFRI, nous batissons l'excellence
                    </p>
                    <div class="outs_more-buttn" >
                        <a href="{{path('prog')}}" data-blast="bgColor">Programmez vos cours</a>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                        <a href="{{path('paniers')}}" data-blast="bgColor">Consultez votre panier de cours</a>
                    </div>
                    </div>
                </div>
                </div>
            </li>
            <li>
                <div class="slider-img two-img">
                <div class="container">
                    <div class="slider-info text-left">
                    <h4>Molem</h4>
                    <h5>Bienvenue à vous, Enseignant(e) à l'IFRI-UAC</h5>
                    <p>A l'IFRI, nous batissons l'excellence
                    </p>
                    <div class="outs_more-buttn">
                        <a href="{{path('prog')}}" data-blast="bgColor">Programmez vos cours</a>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                        <a href="{{path('paniers')}}" data-blast="bgColor">Consultez votre panier de cours</a>
                    </div>
                    </div>
                </div>
                </div>
            </li>
            <li>
                <div class="slider-img three-img">
                <div class="container">
                    <div class="slider-info text-left">
                    <h4>Agitat</h4>
                    <h5>Bienvenue à vous, Enseignant(e) à l'IFRI-UAC</h5>
                    <p>A l'IFRI, nous batissons l'excellence
                    </p>
                    <div class="outs_more-buttn">
                        <a href="{{path('prog')}}"  data-blast="bgColor">Programmez vos cours</a>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                        <a href="{{path('paniers')}}" data-blast="bgColor">Consultez votre panier de cours</a>
                    </div>
                    </div>
                </div>
                </div>
            </li>
            </ul>
        </div>
        
        <div class="clearfix"></div>
        </div>
    
{% endblock %}
   
     
    
      
     
      
      
      
   