{% extends 'baseenseignant.html.twig' %}

{% block title %}Plateforme de Gestion des emplois du temps des professeurs : : Accueil
{% endblock %}

{% block body %}
    	<!--banner -->
		<!-- Slideshow 4 -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider4">
					<li>
						<div class="slider-img one-img">
							<div class="container">
								<div class="slider-info text-left">
									<h4>Mens</h4>
									<h5>Institut de Formation et de Recherche en Informatique</h5>
									<p>A l'IFRI, nous batissons l'excellence
									</p>
									<div
										class="outs_more-buttn">
										<!-- data-toggle="modal" -->

										<a href="{{path('app_login')}}" data-blast="bgColor">Espace Administrateur</a>
										&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
										<a href="{{path('app_login')}}" data-blast="bgColor">Espace Enseignant</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-img two-img">
							<div class="container">
								<div class="slider-info text-left">
									<h4>Molem</h4>
									<h5>Institut de Formation et de Recherche en Informatique</h5>
									<p>A l'IFRI, nous batissons l'excellence
									</p>
									<div class="outs_more-buttn">
										<a href="{{path('app_login')}}"  data-blast="bgColor">Espace Administrateur</a>
										&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
										<a href="{{path('app_login')}}"  data-blast="bgColor">Espace Enseignant</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-img three-img">
							<div class="container">
								<div class="slider-info text-left">
									<h4>Agitat</h4>
									<h5>Institut de Formation et de Recherche en Informatique</h5>
									<p>A l'IFRI, nous batissons l'excellence
									</p>
									<div class="outs_more-buttn">
										<a href="{{path('app_login')}}" data-blast="bgColor">Espace Administrateur</a>
										&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
										<a href="{{path('app_login')}}" data-blast="bgColor">Espace Enseignant</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- This is here just to demonstrate the callbacks -->
			<!-- <ul class="events">
							          <li>Example 4 callback events</li>
							          </ul>-->
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //banner -->
	<!--about-->
	<section class="pt-md-5 pt-sm-4 pt-3">
		<div class="container-fluid ">
			<div
				class="main row ">
				<!-- TENTH EXAMPLE -->
				<div class="col-lg-4 view view-tenth">
					<img src="{{ asset("assets/images/ab1.jpg") }}" alt="" class="img-fluid">
					<div class="mask">
						<h3 data-blast="bgColor">Success</h3>
						<p>Vivamus sed poritor felis.ntesque habitant morbi senectus et netus</p>
						<a href="#" class="info" data-toggle="modal" data-blast="bgColor">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 view view-tenth">
					<img src="{{ asset("assets/images/ab2.jpg") }}" alt="" class="img-fluid">
					<div class="mask">
						<h3 data-blast="bgColor">Hard Work</h3>
						<p>Vivamus sed poritor felis.ntesque habitant morbi senectus et netus</p>
						<a href="#" class="info" data-toggle="modal" data-blast="bgColor">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 view view-tenth">
					<img src="{{ asset("assets/images/ab3.jpg") }}" alt="" class="img-fluid">
					<div class="mask">
						<h3 data-blast="bgColor">Admission</h3>
						<p>Vivamus sed poritor felis.ntesque habitant morbi senectus et netus</p>
						<a href="#" class="info" data-toggle="modal" data-blast="bgColor">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about" id="about">
		<div
			class="container py-lg-5 py-md-5 py-sm-4 py-3">
			<!--Horizontal Tab-->
			<div id="horizontalTab">
				<ul class="resp-tabs-list justify-content-center">
					<li data-blast="bgColor">Cours</li>
					<li data-blast="bgColor">Professeurs</li>
					<li data-blast="bgColor">Admission</li>
					<li data-blast="bgColor">Mission</li>
				</ul>
				<div class="resp-tabs-container">
					<div class="tab1">
						<div class="row mt-lg-4 mt-3">
							<div class="col-md-7 latest-list">
								<div class="about-jewel-agile-left">
									<h4 class="mb-3" data-blast="color">Cours
									</h4>
									<p>Les cours sont organisés de 08h à 19h du lundi au vendredi de chaque semaine.
									</p>
									<h5 data-blast="color">
										Comment se déroule les cours?</h5>
								</div>
							</div>
							<div class="col-md-5 about-txt-img">
								<img src="{{ asset("assets/images/ab1.jpg") }}" class="img-thumbnail" alt="">
							</div>
						</div>
					</div>
					<div class="tab2">
						<div class="row mt-lg-4 mt-3">
							<div class="col-md-5 about-txt-img">
								<img src="{{ asset("assets/images/ab3.jpg") }}" class="img-thumbnail" alt="">
							</div>
							<div class="col-md-7 latest-list">
								<div class="about-jewel-agile-left">
									<h4 class="mb-3" data-blast="color">
										Professeurs</h4>
									<p>Chaque professeurs à l'IFRI est un personnel compétent dans l'éducation des étudiants.
										                       Leurs compétences sont témoignées par les performances des étudiants de l'IFRI au plan national et international.
									</p>
									<h5 data-blast="color">Quels est le rôle des professeurs à l'ifri?</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="tab3">
						<div class="row mt-lg-4 mt-3">
							<div class="col-md-7 latest-list">
								<div class="about-jewel-agile-left">
									<h4 class="mb-3" data-blast="color">Admission</h4>
									<p>L'admission dans les différentes formations de l'Institut de Formation et Recherche
										                      en Informatique est conditionnée au préalable par une préinscription. En effet, la 
										                      préinscription est la phase au cours de laquelle l'apprenant manifeste sa volonté 
										                      de suivre une formation. Elle doit être suivie peu de temps après une inscription 
										                      car en général le nombre d'apprenants admis dans chaque formation est très limité.
										                      L'admission à l'IFRI se fait sur étude de dossier.
									</p>
									<h5 data-blast="color">Quels sont nos visions ?</h5>
								</div>
							</div>
							<div class="col-md-5 about-txt-img">
								<img src="{{ asset("assets/images/ab2.jpg") }}" class="img-thumbnail" alt="">
							</div>
						</div>
					</div>
					<div class="tab4">
						<div class="row mt-lg-4 mt-3">
							<div class="col-md-5 about-txt-img">
								<img src="{{ asset("assets/images/ab1.jpg") }}" class="img-thumbnail" alt="">
							</div>
							<div class="col-md-7 latest-list">
								<div class="about-jewel-agile-left">
									<h4 class="mb-3" data-blast="color">
										Mission</h4>
									<p>La vocation de l'Institut de Formation et de Recherche en Informatique 
										                      (IFRI) de l'Université d'Abomey-Calavi est de former des apprenants capables 
										                      de devenir des acteurs de solutions informatiques aux différents problèmes de
										                       société en s'appuyant sur les récents développements des Technologies de l'Informatiion
										                        et de la Communication.</p>
									<h5 data-blast="color">Quels est notre mission ?</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//about-->
	<!--service-->
	<section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
			<h3 class="title clr text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3">formations</h3>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center">
					<div class="white-shadow">
						<div class="text-wls-ser-bake">
							<span class="fas fa-book banner-icon" data-blast="color"></span>
						</div>
						<div class="ser-inner-info">
							<h4 class="my-3">Admission</h4>
							<p>Admission dans les différentes formations de l'IFRI</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center">
					<div class="white-shadow">
						<div class="text-wls-ser-bake">
							<span class="fas fa-pencil-alt banner-icon" data-blast="color"></span>
						</div>
						<div class="ser-inner-info">
							<h4 class="my-3">Formation Continue</h4>
							<p>Programmation web Dynamique, Conception d'un site web avec CMS, Adobe Photoshop and Indesign CS6, Coming</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center">
					<div class="white-shadow">
						<div class="text-wls-ser-bake">
							<span class="fas fa-bookmark banner-icon" data-blast="color"></span>
						</div>
						<div class="ser-inner-info">
							<h4 class="my-3">Certifications</h4>
							<p>CISCO (CCENT, CCNA, CCNP) , ORACLE & MySQL</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center mt-md-4 mt-sm-3 mt-3">
					<div class="white-shadow">
						<div class="text-wls-ser-bake">
							<span class="fas fa-address-book banner-icon" data-blast="color"></span>
						</div>
						<div class="ser-inner-info">
							<h4 class="my-3">Licence</h4>
							<p>GENIE LOGICIEL, SECURITE INFORMATIQUE, INTERNET ET MULTIMEDIA, SIRI</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center mt-md-4 mt-sm-3 mt-3">
					<div class="white-shadow">
						<div class="text-wls-ser-bake">
							<span class="fas fa-graduation-cap banner-icon" data-blast="color"></span>
						</div>
						<div class="ser-inner-info">
							<h4 class="my-3">Master</h4>
							<p>SECURITE INFORMATIQUE, SIRI, GENIE LOGICIEL</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center mt-md-4 mt-sm-3 mt-3">
					<div class="white-shadow">
						<div class="text-wls-ser-bake">
							<span class="fab fa-cloudscale banner-icon" data-blast="color"></span>
						</div>
						<div class="ser-inner-info">
							<h4 class="my-3">Doctorat</h4>
							<p>THESES</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//service-->
	<!--blog -->
	<section class="blog py-lg-4 py-md-3 py-sm-3 py-3" id="blog">
		<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
			<h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Nos Blogs
			</h3>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 blog-grid-flex">
					<div class="clients-color">
						<img src="{{ asset("assets/images/ab3.jpg") }}" class="img-fluid" alt="">
						<div class="blog-txt-info">
							<h4 class="mt-2">
								<a href="#" data-toggle="modal" data-target="#exampleModalLive" data-blast="color">Quisque a rhoncus
								</a>
							</h4>
							<div class="news-date my-3">
								<ul>
									<li class="mr-3">
										<span class="far fa-calendar-check"></span>
										<a href="#" data-toggle="modal">12/4/2019</a>
									</li>
									<li>
										<span class="far fa-comments"></span>
										<a href="#" data-toggle="modal">5 Comments</a>
									</li>
								</ul>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
							<div class="outs_more-buttn">
								<a href="#" data-toggle="modal" data-blast="bgColor">More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6  blog-grid-flex">
					<div class="clients-color">
						<img src="{{ asset("assets/images/ab1.jpg") }}" class="img-fluid" alt="">
						<div class="blog-txt-info">
							<h4 class="mt-2">
								<a href="#" data-toggle="modal" data-blast="color">Quisque a rhoncus
								</a>
							</h4>
							<div class="news-date my-3">
								<ul>
									<li class="mr-3">
										<span class="far fa-calendar-check"></span>
										<a href="#" data-toggle="modal">12/4/2019</a>
									</li>
									<li>
										<span class="far fa-comments"></span>
										<a href="#" data-toggle="modal">5 Comments</a>
									</li>
								</ul>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
							<div class="outs_more-buttn">
								<a href="#" data-toggle="modal" data-blast="bgColor">More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 blog-grid-flex">
					<div class="clients-color">
						<img src="{{ asset("assets/images/ab2.jpg") }}" class="img-fluid" alt="">
						<div class="blog-txt-info">
							<h4 class="mt-2">
								<a href="#" data-toggle="modal" data-blast="color">Quisque a rhoncus
								</a>
							</h4>
							<div class="news-date my-3">
								<ul>
									<li class="mr-3">
										<span class="far fa-calendar-check"></span>
										<a href="#" data-toggle="modal">12/4/2019</a>
									</li>
									<li>
										<span class="far fa-comments"></span>
										<a href="#" data-toggle="modal">5 Comments</a>
									</li>
								</ul>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
							<div class="outs_more-buttn">
								<a href="#" data-toggle="modal" data-blast="bgColor">More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 blog-grid-flex mt-lg-5 mt-md-4 mt-sm-3 mt-3">
					<div class="clients-color">
						<img src="{{ asset("assets/images/ab3.jpg") }}" class="img-fluid" alt="">
						<div class="blog-txt-info">
							<h4 class="mt-2">
								<a href="#" data-toggle="modal" data-blast="color">Quisque a rhoncus
								</a>
							</h4>
							<div class="news-date my-3">
								<ul>
									<li class="mr-3">
										<span class="far fa-calendar-check"></span>
										<a href="#" data-toggle="modal">12/4/2019</a>
									</li>
									<li>
										<span class="far fa-comments"></span>
										<a href="#" data-toggle="modal">5 Comments</a>
									</li>
								</ul>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
							<div class="outs_more-buttn">
								<a href="#" data-toggle="modal" data-blast="bgColor">More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 blog-grid-flex mt-lg-5 mt-md-4 mt-sm-3 mt-3">
					<div class="clients-color">
						<img src="{{ asset("assets/images/ab1.jpg") }}" class="img-fluid" alt="">
						<div class="blog-txt-info">
							<h4 class="mt-2">
								<a href="#" data-toggle="modal" data-blast="color">Quisque a rhoncus
								</a>
							</h4>
							<div class="news-date my-3">
								<ul>
									<li class="mr-3">
										<span class="far fa-calendar-check"></span>
										<a href="#" data-toggle="modal">12/4/2019</a>
									</li>
									<li>
										<span class="far fa-comments"></span>
										<a href="#" data-toggle="modal">5 Comments</a>
									</li>
								</ul>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
							<div class="outs_more-buttn">
								<a href="#" data-toggle="modal" data-blast="bgColor">More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 blog-grid-flex mt-lg-5 mt-md-4 mt-sm-3 mt-3">
					<div class="clients-color">
						<img src="{{ asset("assets/images/ab2.jpg") }}" class="img-fluid" alt="">
						<div class="blog-txt-info">
							<h4 class="mt-2">
								<a href="#" data-toggle="modal" data-blast="color">Quisque a rhoncus
								</a>
							</h4>
							<div class="news-date my-3">
								<ul>
									<li class="mr-3">
										<span class="far fa-calendar-check"></span>
										<a href="#" data-toggle="modal">12/4/2019</a>
									</li>
									<li>
										<span class="far fa-comments"></span>
										<a href="#" data-toggle="modal">5 Comments</a>
									</li>
								</ul>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
							<div class="outs_more-buttn">
								<a href="#" data-toggle="modal" data-blast="bgColor">More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//blog -->
	<!--Subscribe-->
	<section class="py-md-5 py-sm-4 py-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 subscrib-w3layouts text-center">
					<h2 data-blast="color">Abonnez-vous à notre plateforme
					</h2>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="newsletter">
						<form action="#" method="post" class="d-flex">
							<input type="email" class="form-control" placeholder="Your Email" required="">
							<button class="btn1">
								<span class="far fa-envelope"></span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//Subscribe-->
	<!--stats-->
	<section class="stats py-lg-4 py-md-3 py-sm-3 py-3" id="stats">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
			<h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Nos Statistiques
			</h3>
			<div class="jst-must-info text-center">
				<div class="row stats-info">
					<div class="col-lg-3 col-md-6 col-sm-6 col-6 stats-grid-1">
						<div class="stats-grid" data-blast="bgColor">
							<div class="counter">709</div>
							<div class="stat-info">
								<h5 class="pt-2">Etudiants
								</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-6 stats-grid-2">
						<div class=" stats-grid" data-blast="bgColor">
							<div class="counter">350</div>
							<div class="stat-info">
								<h5 class="pt-2">
									Professeurs</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-6 stats-grid-3">
						<div class=" stats-grid" data-blast="bgColor">
							<div class="counter">4</div>
							<div class="stat-info">
								<h5 class="pt-2">
									Filières</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-6 stats-grid-4">
						<div class=" stats-grid" data-blast="bgColor">
							<div class="counter">3</div>
							<div class="stat-info">
								<h5 class="pt-2">
									Grades
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//stats-->
	<!--Team-->
	<section class="team py-lg-4 py-md-3 py-sm-3 py-3" id="team">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
			<h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Nos Professeurs
			</h3>
			<div class="row ">
				<div class="col-lg-3 col-md-6 col-sm-6 profile">
					<div class="team-shadow">
						<div class="img-box">
							<img src="{{ asset("assets/images/t1.jpg") }}" alt="">
							<div class="list-social-icons">
								<ul>
									<li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
									<li><a href="#"><span class="fas fa-envelope"></span></a></li>
									<li><a href="#"><span class="fas fa-rss"></span></a></li>
									<li><a href="#"><span class="fab fa-vk"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="team-w3layouts-info py-lg-4 py-3 text-center" data-blast="bgColor">
							<h4 class="text-white mb-2">Rox Will</h4>
							<span class="wls-client-title text-black">Professeur</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 profile">
					<div class="team-shadow">
						<div class="img-box">
							<img src="{{ asset("assets/images/t2.jpg") }}" alt="">
							<div class="list-social-icons">
								<ul>
									<li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
									<li><a href="#"><span class="fas fa-envelope"></span></a></li>
									<li><a href="#"><span class="fas fa-rss"></span></a></li>
									<li><a href="#"><span class="fab fa-vk"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="team-w3layouts-info py-lg-4 py-3 text-center" data-blast="bgColor">
							<h4 class="text-white mb-2">Sam Doi</h4>
							<span class="wls-client-title text-black">Professeur</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 profile">
					<div class="team-shadow">
						<div class="img-box">
							<div class="team-list-img">
								<img src="{{ asset("assets/images/t3.jpg") }}" alt="">
							</div>
							<div class="list-social-icons">
								<ul>
									<li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
									<li><a href="#"><span class="fas fa-envelope"></span></a></li>
									<li><a href="#"><span class="fas fa-rss"></span></a></li>
									<li><a href="#"><span class="fab fa-vk"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="team-w3layouts-info py-lg-4 py-3 text-center" data-blast="bgColor">
							<h4 class="text-white mb-2">Kent Kelly</h4>
							<span class="wls-client-title text-black">Professeur</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 profile">
					<div class="team-shadow">
						<div class="img-box">
							<div class="team-list-img">
								<img src="{{ asset("assets/images/t4.jpg") }}" alt="">
							</div>
							<div class="list-social-icons">
								<ul>
									<li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
									<li><a href="#"><span class="fas fa-envelope"></span></a></li>
									<li><a href="#"><span class="fas fa-rss"></span></a></li>
									<li><a href="#"><span class="fab fa-vk"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="team-w3layouts-info py-lg-4 py-3 text-center" data-blast="bgColor">
							<h4 class="text-white mb-2">Kent Kelly</h4>
							<span class="wls-client-title text-black">Professeur</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//Team-->
	<!--contact -->
	<section class="contact py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
			<h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Contactez-nous</h3>
			<div class="row">
				<div class="col-md-5 address-grid">
					<div class="addres-office-hour text-center">
						<ul>
							<li class="mb-2">
								<h6 data-blast="color">Adresse</h6>
							</li>
							<li>
								<p>Rue Agro Maquis-FSA,<br>Campus UAC,Benin.</p>
							</li>
						</ul>
						<ul>
							<li class="mt-lg-4 mt-3">
								<h6 data-blast="color">Telephone</h6>
							</li>
							<li class="mt-2">
								<p>(+229)94 13 44 48</p>
							</li>
							<li class="mt-lg-4 mt-3">
								<h6 data-blast="color">Email</h6>
							</li>
							<li class="mt-2">
								<p>
									<a href="mailto:info@example.com">contact@ifri.bj.com</a>
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-7 contact-form">
					<form action="#" method="post">
						<div class="row text-center contact-wls-detail">
							<div class="col-md-6 form-group contact-forms">
								<input type="text" class="form-control" placeholder="Your Name" required="">
							</div>
							<div class="col-md-6 form-group contact-forms">
								<input type="email" class="form-control" placeholder="Your Email" required="">
							</div>
						</div>
						<div class="form-group contact-forms">
							<input type="text" class="form-control" placeholder="Subject" required="">
						</div>
						<div class="form-group contact-forms">
							<textarea class="form-control" rows="3" placeholder="Your Message" required=""></textarea>
						</div>
						<div class="sent-butnn text-center">
							<button type="submit" class="btn btn-block" data-blast="bgColor">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--//contact -->
	<!--footer-->
	<section class="footer py-lg-4 py-md-3 py-sm-3 py-3">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
			<div class="row ">
				<div class="dance-agile-info col-lg-3 col-md-6 col-sm-6">
					<h4 class="pb-lg-3 pb-3" data-blast="color">Blog</h4>
					<div class="footer-grid row mb-3">
						<div class="col-lg-5 col-md-6 col-sm-6 col-5">
							<img src="{{ asset("assets/images/bb1.jpg") }}" alt=" " class="img-fluid">
						</div>
						<div class="col-lg-7 col-md-6 col-sm-6 col-7 bottom-para px-0">
							<h6>
								<a href="#" data-toggle="modal">ultricies nec,pellen eu,pretium quis,</a>
							</h6>
							<div class="news-bloger">
								<ul>
									<li class="mr-1">
										<a href="#about" class="scroll" data-blast="color">12/4/2019</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-blast="color">3 Tags</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="footer-grid row mb-3">
						<div class="col-lg-5 col-md-6 col-sm-6 col-5">
							<img src="{{ asset("assets/images/bb2.jpg") }}" alt=" " class="img-fluid">
						</div>
						<div class="col-lg-7 col-md-6 col-sm-6 col-7 bottom-para px-0">
							<h6>
								<a href="#" data-toggle="modal">ultricies nec,pellen eu,pretium quis,</a>
							</h6>
							<div class="news-bloger">
								<ul>
									<li class="mr-1">
										<a href="#" data-toggle="modal" data-blast="color">12/4/2019</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-blast="color">3 Tags</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="footer-grid row">
						<div class="col-lg-5 col-md-6 col-sm-6 col-5">
							<img src="{{ asset("assets/images/bb3.jpg") }}" alt=" " class="img-fluid">
						</div>
						<div class="col-lg-7 col-md-6 col-sm-6 col-7 bottom-para px-0">
							<h6>
								<a href="#" data-toggle="modal">ultricies nec,pellen eu,pretium quis,</a>
							</h6>
							<div class="news-bloger">
								<ul>
									<li class="mr-1">
										<a href="#" data-toggle="modal" data-blast="color">12/4/2019</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-blast="color">3 Tags</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="dance-agile-info col-lg-3 col-md-6 col-sm-6">
					<h4 class="pb-lg-4 pb-md-3 pb-3 text-uppercase" data-blast="color">Contact Us</h4>
					<div class="address_mail_footer_grids">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3539.812628729253!2d153.014155!3d-27.4750921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a0835840a2f%3A0xdd5e3f5c208dc0e1!2sMelbourne+St%2C+South+Brisbane+QLD+4101%2C+Australia!5e0!3m2!1sen!2sin!4v1492257477691"></iframe>
					</div>
				</div>
				<div class="dance-agile-info col-lg-3 col-md-6 col-sm-6">
					<h4 class="pb-lg-4 pb-md-3 pb-3 text-uppercase" data-blast="color">Twitter Us</h4>
					<div class="footer-office-hour">
						<ul>
							<li>
								<p>sit amet consectetur adipiscing</p>
							</li>
							<li class="my-1">
								<p>
									<a href="mailto:info@example.com" data-blast="color">http://example.com</a>
									sit amet</p>
							</li>
							<li class="mb-lg-4 mb-md-3 mb-3">
								<span>Posted 3 days ago.</span>
							</li>
							<li>
								<p>sit amet consectetur adipiscing</p>
							</li>
							<li class="my-1">
								<p>
									<a href="mailto:info@example.com" data-blast="color">http://mail.com</a>
									sit amet</p>
							</li>
							<li>
								<span>Posted 3 days ago.</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="dance-agile-info col-lg-3 col-md-6 col-sm-6">
					<h4 class="pb-lg-3 pb-3" data-blast="color">Our Posts</h4>
					<div class="footer-post d-flex mb-2">
						<div class="agileinfo_footer_grid1 mr-2">
							<a href="#blog" class=" scroll">
								<img src="{{ asset("assets/images/f1.jpg") }}" alt=" " class="img-fluid">
							</a>
						</div>
						<div class="agileinfo_footer_grid1 mr-2">
							<a href="#blog" class="scroll">
								<img src="{{ asset("assets/images/f2.jpg") }}" alt=" " class="img-fluid">
							</a>
						</div>
						<div class="agileinfo_footer_grid1">
							<a href="#blog" class="scroll">
								<img src="{{ asset("assets/images/f3.jpg") }}" alt=" " class="img-fluid">
							</a>
						</div>
					</div>
					<div class="footer-post d-flex mb-2">
						<div class="agileinfo_footer_grid1 mr-2">
							<a href="#blog" class="scroll">
								<img src="{{ asset("assets/images/f3.jpg") }}" alt=" " class="img-fluid">
							</a>
						</div>
						<div class="agileinfo_footer_grid1 mr-2">
							<a href="#blog" class=" scroll">
								<img src="{{ asset("assets/images/f2.jpg") }}" alt=" " class="img-fluid">
							</a>
						</div>
						<div class="agileinfo_footer_grid1">
							<a href="#blog" class=" scroll">
								<img src="{{ asset("assets/images/f1.jpg") }}" alt=" " class="img-fluid">
							</a>
						</div>
					</div>
					<div class="footer-post d-flex">
						<div class="agileinfo_footer_grid1 mr-2">
							<a href="#blog" class="scroll">
								<img src="{{ asset("assets/images/f2.jpg") }}" alt=" " class="img-fluid">
							</a>
						</div>
						<div class="agileinfo_footer_grid1 mr-2">
							<a href="#blog" class=" scroll">
								<img src="{{ asset("assets/images/f3.jpg") }}" alt=" " class="img-fluid">
							</a>
						</div>
						<div class="agileinfo_footer_grid1">
							<a href="#blog" class=" scroll">
								<img src="{{ asset("assets/images/f1.jpg") }}" alt=" " class="img-fluid">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="nav-footer py-sm-4 py-3">
		<div class="container-fluid">
			<div class="buttom-nav ">
				<nav class="border-line py-2">
					<ul class="nav justify-content-center">
						<li class="nav-item active">
							<a class="nav-link" href="{{path('accueil')}}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#about" class="nav-link scroll">About</a>
						</li>
						<li class="nav-item">
							<a href="#service" class="nav-link scroll">Services</a>
						</li>
						<li class="nav-item">
							<a href="#blog" class="nav-link scroll">Blog</a>
						</li>
						<li class="nav-item">
							<a href="#contact" class="nav-link scroll">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<footer class="py-3">
		<div class="container">
			<div class="copy-agile-right text-center">
				<div class="list-social-icons text-center py-lg-4 py-md-3 py-3">
					<ul>
						<li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fas fa-envelope"></span></a></li>
						<li><a href="#"><span class="fas fa-rss"></span></a></li>
						<li><a href="#"><span class="fab fa-vk"></span></a></li>
					</ul>
				</div>
				<p>
					© 2018 ClassWork. All Rights Reserved | Design by
					<!-- <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a> -->
				</p>
			</div>
		</div>
	</footer>
	
{% endblock %}

	

	

