{% extends 'baseenseignant.html.twig' %}

{% block title %}Register : : Enseignant
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset("inscription/css/inscrire.css") }}">

	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/> -->
	{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}
{% block body %}

<div class="slider">
	<div class="callbacks_container">
		<ul class="rslides" id="slider4">
			<li>
				<div class="slider-img one-img">
					<div class="bodyprog">
						<div class="main">
							<div class="title">Registration Form</div>
							<form method="POST">
								{{form_start(registrationForm)}}
				
								<div id="name">
									<h2 class="name">Name :</h2>
									{{form_widget(registrationForm.lastname, {'attr': {'style':'width:250px; position: relative; left: 215px; top: -37px;'}})}}<br>
				
									<label class="firstlabel" style="position: relative; color: #E5E5E5; text-transform: capitalize; font-size: 14px; left: 215px; top: -58px;
																				">{{form_label(registrationForm.lastname)}}</label>
				
									{{form_widget(registrationForm.firstname,  {'attr': {'style':'width:250px; position: relative; left: 480px; top: -138px;'}})}}<br>
				
									<label class="lastlabel" style="position: relative; color: #E5E5E5; text-transform: capitalize; font-size: 14px; left: 480px; top: -160px;
																				 ">{{form_label(registrationForm.firstname)}}</label>
								</div>
								
								<div id="name">
									<h2 class="named">Phone & Gender :</h2>
				
									{{form_widget(registrationForm.phone,  {'attr': {'style':'width:250px; position: relative; left: 215px; top: -38px;'}})}}<br>
				
									<label class="lastlabel" style="position: relative; color: #E5E5E5; text-transform: capitalize; font-size: 14px; left: 215px; top: -62px;
																				 ">{{form_label(registrationForm.phone)}}</label>
									
									<!-- <h2 class="named">Gender :</h2> -->
				
									{{form_widget(registrationForm.sexe,  {'attr': {'style':'width:250px; position: relative; left: 480px; top: -138px;'}})}}<br>
				
									<label class="lastlabel" style="position: relative; color: #E5E5E5; text-transform: capitalize; font-size: 14px; left: 480px; top: -160px;
																				 ">{{form_label(registrationForm.sexe)}}</label>
						
								</div>

								<div id="name">
									<h2 class="named">Username & Email:</h2>
				
									{{form_widget(registrationForm.username,  {'attr': {'style':'width:250px; position: relative; left: 215px; top: -38px;'}})}}<br>
				
									<label class="lastlabel" style="position: relative; color: #E5E5E5; text-transform: capitalize; font-size: 14px; left: 215px; top: -62px;
																				 ">{{form_label(registrationForm.username)}}</label>
																				 
									{{form_widget(registrationForm.email,  {'attr': {'style':'width:250px; position: relative; left: 480px; top: -138px;'}})}}<br>
				
									<label class="lastlabel" style="position: relative; color: #E5E5E5; text-transform: capitalize; font-size: 14px; left: 480px; top: -160px;
																				 ">{{form_label(registrationForm.email)}}</label>
								</div>
						
	
								<div id="name">
									<h2 class="named">Password :</h2>
				
									{{form_widget(registrationForm.plainpassword,  {'attr': {'style':'width:250px; position: relative; left: 215px; top: -40px;'}})}}<br>
				
									{# <label class="lastlabel" style="position: relative; color: #E5E5E5; text-transform: capitalize; font-size: 14px; left: 160px; top: -62px;
																				 ">{{form_label(registrationForm.plainpassword)}}</label> #}
								</div>
				
								<div id="name">
									<button data-blast="bgColor" type="submit" style="  height: 50px; display: flex; justify-content: center;  align-items: center; outline: none; color: white; cursor: pointer; transition: 0.25px;
																				width: 100px; position: relative; left: 500px; top: -75px; border-radius: 12px; border: 2px solid none;
																				" >Sign In</button>
				
									<button data-blast="bgColor" type="reset" style="  height: 50px; display: flex; justify-content: center;  align-items: center; outline: none; color: white; cursor: pointer; transition: 0.25px;	
																		width: 90px; position: relative; left: 630px; top: -125px; border-radius: 12px; border: 2px solid none;
																		">Annuler</button>
									
								</div>
				
							 {{form_end(registrationForm)}}
							</form>
						</div>
					</div>	
				</div>
			</li>
		</ul>
	</div>
</div>
	
	{# <h1 class="h3 mb-3 font-weight-normal">Register</h1> #}
	{# {{form_start(registrationForm)}}
		    {{form_widget(registrationForm)}}
		    <input type="submit" value="Register" class="btn btn-primary" formnovalidate>
		    {{form_end(registrationForm)}} #}

{% endblock %}
