{% extends 'baseadmin.html.twig' %}

{% block title %}Change Password
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset("assets/css/resetPassword.css") }}">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/> -->
	{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}
<div class="main-content">
	<section class="section">
		<div class="section-body">
			<div class="row">
				<div class="ccontent" style="position:relative; top: -60px;">
					<div class="login-div">
						<form method="POST">
							<div class="logo"></div>
						<div class="tiltle">Change Password</div>
						<div class="fieldss">
							{{ form_start(form) }}
							{#{ form_row(resetForm.plainpassword) }#}
							{{form_widget(form)}}
				
							<button class="signin-button" style="color: #fff; background: blue;" type="submit">
								Update Password
							</button>
							{{ form_end(form) }}
						</div>
				
						</form>
				
					</div>
				
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
